html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./public/css/app.css")
    link(rel="stylesheet", href="./public/css/style_all.css")
    link(rel="stylesheet", href="./public/css/helper.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css")
    title Commerce App
  body
    header
      div.menu
        div(class='container mx-auto')
          div(class="menu_bar ")
            a(href="#" class="bt-menu  ")
              img(class='block ')(src="./public/img/header/logo-comerce.svg", alt="" width="50%")
              span(class="fas fa-bars") 
          nav(class='flex lg:justify-between')
            div.text-center.logo
              img(class='block m-auto')(src="./public/img/header/Group.png", alt="")
            ul(class='text-center lg:flex lg:items-center pt-3')
              li
                a.font-bold.mx-5(href="./index.html") Home
              li
                a.font-bold.mx-5(href="#") Comercio 
    //- Section 1
    section(id="")
      div(class="banner_comercio1")
        div(class="banner_comercio1_shadow")
          div(class="container m-auto")
            div(class="flex  py-56 items-center justify-center")
              div(class="text-center text-white title") Mejora tus <br> servicios con nosotros
                div(class=" text-center text-white description lh1 font-hairline") ¡La primera aplicación móvil que te permite generar resevas <br> en restaurantes, doctores, estilo de vida y más en un solo lugar!
              //- 
    //- Section 2
    section(class="flex flex-wrap w-full mt-10")
      div(class="w-full lg:w-1/2 flex items-center mb-6 xl:mb-0")
        img(class="left-0 h-auto h-64 xl:h-128 w-full xl:w-auto")(src="./public/img/body-comercio/ben.jpg", alt="")
      div(class="w-full lg:w-1/2 flex flex-col pl-10 lg:pl-0 pr-0 lg:pr-32") 
        p(class="text-4xl lg:text-4.5xl font-extrabold mb-5 text-blue-500") Beneficios de Negocio
        div(class="w-full py-3")
          span(class="font-bold") Date a conocer
          p(class="text-gray-600") Nuestra aplicación es una plataforma para automatizar y crecer tu empresa sin la necesidad de perder el toque humano que siempre es necesario.
        div(class="w-full py-3")
          span(class="font-bold") Controla tus tiempos
          p(class="text-gray-600") Se más eficiente. Controla los tiempos efectivos para cada servicio ofrecido con el objetivo de eliminar tiempos muertos,mejorando tu capacidad y por ende tus ingresos. 
        div(class="w-full py-3")
          span(class="font-bold") Crecemos contigo
          p(class="text-gray-600") Nuestros planes de pago, se han realizado pensando en ti y en el bienestar de tu empresa, acomodánsose a tu requerimientos e ingresos.
        div(class="w-full py-3")
          span(class="font-bold") Mejora Continua
          p(class="text-gray-600") Nuestros equipo ya cuenta con las mejoras por venir, incluyendo la capacidad de captar pagos de tus clientes por medio de la app, manejo de contabilidad,etc. 
    section(class="flex flex-wrap w-full pt-8 lg:px-0") 
      div(class="w-full  flex flex-col justify-center lg:w-1/2 ")
        div(class="max-w-lg  justify-center  items-center flex-col px-6 mb-6")
          p(class="font-bold") Reduce la posibilidad de que tu cita sea cancelada o que tu cliente no se presente <br>
          p(class="gray") A través de una comunicación automática entre tu establecimiento y tu cliente, se reducen las probabilidades de “no-shows”, proporcionando un mejor seguimiento a cada cita programada, sin la necesidad de que tu o cualquiera de tus empleados pierda el tiempo tratando de ponerse en contacto con cada uno de tus clientes.
      div(class="lg:w-1/2")  
        div
          img(src="./public/img/body-comercio/image1.png", alt="")
        div
          img(src="./public/img/body-comercio/image2.png", alt="")  
    section
      div(class="banner_azul")
        div(class="flex flex-wrap w-full py-8 lg:px-0 h-screen")
          div(class="w-full lg:w-1/2 flex flex-col justify-center items-center")
            div(class="max-w-lg flex justify-center flex-col px-4")
              p(class="white") Reporteria al <br> instante
              p(class="white") Al contratar nuestro paquete Premium tienes la oportunidad de obtener toda la reporteria necesaria para el manejo adecuado y acertado de tu negocio. Desde reportes de venta generales a reportes de venta específicos de cada empleado, consumidor, servicio/producto, etc. Obtendrás insight sobre cada uno de tus clientes actuales y potenciales.
          div(class="w-full lg:w-1/2 flex items-center relative")
            img(class="m-auto block")(src="./public/img/body-comercio/image3.png", alt="") 
    section
      div(class="w-full py-20")
        div(class="container mx-auto")
          div(class="py-10")
            h4(class="text-4xl lg:text-4.5xl font-extrabold mb-5 text-center text-grey-900") ¡Únete a nuestros comercios!
            p(class="") Lorem ipsum per vehicula nibh Nam at semper per vehicula nibh Nam.
          div(class="flex flex-wrap mt-8")  
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/subway.png", alt="")
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/andian.png", alt="") 
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/bw.png", alt="")
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/deli.png", alt="")     
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/denny.png", alt="") 
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/don_li.png", alt="")
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/j.png", alt="") 
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/epic.png", alt="") 
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/fish.png", alt="")
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/koi.png", alt="") 
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/subway.png", alt="")
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/andian.png", alt="") 
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/bw.png", alt="")
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/deli.png", alt="")     
            div(class="w-full flex justify-center items-center lg:w-1/5 mb-12")
              img(class="w-32")(src="./public/img/body-comercio/denny.png", alt="")  
          div(class="w-full flex justify-center my-12") 
            a(class="bton_green")(href="") Únete a nosotros 
    section
      div(class="banner_azulOs")
        div(class="w-full py-20 flex flex-col xl:flex-row ")  
          div(class="xl:w-1/3 flex items-center xl:pl-8")
            div(class="max-w-lg flex justify-center flex-col px-6")  
              h3(class="text-4xl lg:text-4.5xl font-extrabold mb-5 text-white leading-none") Planes de servicios
              p(class="text-white") Sé parte de nuestros socios estratégicos. Únete a ComerceApp para llegar a más clientes y aumentar tus ventas.
          div(class="xl:w-2/3 flex flex-col xl:flex-row lg:p-6")
            div(class="xl:w-1/2 p-4")
              div(class="bg-colors h-6 w-full -mb-2 rounded-t-lg")
              div(class="w-full h-full bg-white rounded-b-md px-6 py-6")
                div(class="h-full py-6")
                  h2(class="uppercase text-center text-3xl gray font-bold ") plan básico
                  div(class="ln")
                  h3(class="font-bold text-2xl text-center") Beneficios
                  li(class="py-3 gray") Uso ilimitado de nuestra aplicación movil
                  li(class="py-3 gray") Número de reservas: ilimitadas 
                  li(class="py-3 gray") Recordatorios de reservas a tus clientes
                  li(class="py-3 gray") Calificaciones de tu clientes 
                  li(class="py-3 gray") Acceso a tu propia web servicios donde <br> podras:
                  li(class="py-1 gray") Manejar tus reservas
                  li(class="py-1 gray") Agregar Reservas 
                  li(class="py-1 gray") Guardar información sobre tus clientes
                  li(class="py-1 gray") Modificar horarios de trabajo
                  li(class="py-1 gray") Soporte y ayuda
              div(class="flex justify-center -mt-6")
                a(href="#")
                  button(class="p-4 px-6 rounded text-white font-semibold bg-blue-500 hover:bg-gray-500" ) Elegir Plan     
            div(class="xl:w-1/2 p-5")
              div(class="bg-colors h-6 w-full -mb-2 rounded-t-lg")
              div(class="w-full h-full bg-white rounded-b-md px-6 py-6")
                div(class="h-full py-6")
                  h2(class="uppercase text-center text-3xl gray font-bold ") plan premium
                  div(class="ln")
                  h3(class="font-bold text-2xl text-center") Beneficios
                  li(class="py-3 gray") El plan premium incluye       todo lo que el plan básico  <span class="font-bold"> más
                  li(class="py-3 gray") Todo tipo de reportería:
                  li(class="py-1 gray") Ventas
                  li(class="py-1 gray") Reservas 
                  li(class="py-1 gray") Clientes
                  li(class="py-1 gray") Equipo
                  li(class="py-1 gray") Tus promociones
                  li(class="py-3 gray") Podrás observar opiniones y criticas de tus clientes
                  li(class="py-3 gray") Podrás tener hasta 4 promociones activas del mes
              div(class="flex justify-center -mt-6")
                a(href="#")
                  button(class="p-4 px-6 rounded text-white font-semibold bg-blue-500 hover:bg-gray-500" ) Elegir Plan  
    section(id="section8")  
          div(class="banner_8")  
            div(class="container m-auto py-10 ")
              div(class=" contact") 
                p(class="text-center") Contáctanos
                  div(class="container py-8 lg:px-24 px-5")
                    div(class="sub-banner8")
                      div(class="fmComerce px-5 lg:px-20 py-10")
                        form(action="" method="" id="form_comerceapp")
                          div(class="flex flex-wrap justify-between")
                            div(class="lg:w-1/2 -mx-6")
                              div(class="lg:py-6 px-6")
                                label(for="" class="blue font-bold px-5 ") Nombre <br>
                                input(type="text" placeholder="Cameron Rogers" class="in px-5" id="nombre")
                              div(class="py-6 px-6" )
                                label(for="" class="blue font-bold px-5") Email <br>
                                input(type="email" placeholder="sheila.legros@hotmail.com" class="in" id="email")  
                            div(class="lg:w-1/2 -mx-6")
                              div(class="py-6 px-6")
                                label(for="" class="blue font-bold px-5") Mensaje <br>
                                input(type="text" placeholder="Escribe tu consulta..." class="in" id="mensaje")
                              div(class="py-10 px-6")
                                input(type="submit"  class="bton" id="enviar" value="Enviar Mensaje ")
  script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
  script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="./public/js/main.js")                                                
            




  footer
      div(class="container m-auto")
        div(class="lg:mx-24 px-5 py-6")
          div(class="flex justify-between")
            div(class="flex items-center")
              img(src="./public/img/footer/Group_2.1.png", alt="")
              p(class="uppercase text-white lsp6 pt-3 mx-3 comerce" ) comerce
            div(class="flex items-center")
              div(class="mx-5")
                a(href="")(class="text-white")
                  i(class="fs20 fab fa-facebook-f")
              div(class="mx-5")    
                a(href="")(class="text-white")
                  i(class="fs20 fab fa-instagram")  
              div(class="mx-5")    
                a(href="")(class="text-white")
                  i(class="fs20 fab fa-twitter")
          div(class="flex justify-between")
            div(class="flex items-center")
              p(class="text-white pt-3 mx-3" ) © 
                span(class="gray fs") Comerce. Todos los derechos reservados, 2019
            div(class="flex items-center terminos")
              div(class="mx-5")
                p(class="gray fs16 ") Terminos y Condiciones   |   Políticas Privacidad      
        