html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./public/css/app.css")
    link(rel="stylesheet", href="./public/css/style_all.css")
    link(rel="stylesheet", href="./public/css/helper.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css")
    title Commerce App
  body
    header
      div.menu
        div(class='container mx-auto')
          div(class="menu_bar ")
            a(href="#" class="bt-menu  ")
              img(class='block ')(src="./public/img/header/logo-comerce.svg", alt="" width="50%")
              span(class="fas fa-bars") 
          nav(class='flex lg:justify-between')
            div.text-center.logo
              img(class='block m-auto')(src="./public/img/header/Group.png", alt="")
            ul(class='text-center lg:flex lg:items-center pt-3')
              li
                a.font-bold.mx-5(href="#") Home
              li
                a.font-bold.mx-5(href="./comercio.html") Comercio 

    section#section_2
      div.banner_2
        div(class='container m-auto py-6 lg:py-0 ')
          div(class='flex flex-wrap')
            div(class='lg:w-1/2 order-2 lg:order-1')
              div(class="px-5")
                img(class="block m-auto")(src="./public/img/body-home/cel-1.png", alt="")
            div(class='lg:w-1/2 order-1 lg:order-2')
              div(class='px-3 text-center lg:text-justify ')
                p(class='text-white title') ComerceApp <br> te ayuda a mejorar tus reservas 
                p(class='text-white description') ¡La primera aplicación móvil que te permite generar resevas en <br> restaurantes, doctores, estilo de vida y más en un solo lugar!
                div(class="flex  mt-10 ")
                  a(class="m-3")(href="#")
                    img(class="block m-auto")(src="./public/img/body-home/apple-store.png", alt="" )
                  a(class="m-3")(href="#")
                    img(class="block m-auto")(src="./public/img/body-home/play-store.png", alt="" )
                div(class="mt-20 float-right scroll") 
                  img(class="block m-auto")(src="./public/img/body-home/Group_7.svg", alt="")
    section(id="section_3")
      div(class="banner_3")
        div(class="container m-auto py-10")
          div(class="flex flex-wrap")
            div(class="lg:w-1/2")
              div(class=" rs px-5 lg:pl-32 lg:pr-20 lg:mt-56")
                p(class="text-white font-bold lh1 ") Reserva desde <br> cualquier lugar
                p(class="rs_descripcion text-white py-5") Estés donde estés, a la hora que sea, tu puedes crear tu reserva en cualquiera de los negocios afiliados a Tap the App. Solamente selecciona tu establecimiento de preferencia, el día y la hora que deseas reservar y ¡listo!
            div(class="lg:w-1/2") 
              div(class="lg:text-center px-5")
                img(class="block m-auto")(src="./public/img/body-home/Group_22.png", alt="" class="images") 
    section(id="section4")
      div(class="banner_4")
        div(class="container  m-auto py-10")
          div(class="flex flex-wrap")
            div(class="lg:w-1/2")
              div(class="rs px-5 lg:pl-32 lg:pr-20 lg:mt-56")
                p(class="blue font-bold lh1 ") Encuentra las mejores <br> promociones
                p(class="rs_descripcion text-white py-5") Dales tap! y ahorra lo más que puedas. Selecciona la promoción que quieras, dale ¡click! Al botón de “obtener promoción”, muéstrala en el establecimiento indicado y economiza tus gastos.
            div(class="lg:w-1/2")
              div(class="text-center px-5")
                img(class="block m-auto")(src="./public/img/body-home/Group_92.png", alt="" class="images" )
      section(id="section5")
        div(class="banner_5")
          div(class="container m-auto py-10")
            div(class="flex flex-wrap")
              div(class="lg:w-1/2 xl:w-1/2")
                div(class="rs px-5 lg:pl-32 lg:pr-20 lg:mt-56")
                  p(class="text-white font-bold lh1 ") No vuelvas a <br> perder tu cita
                  p(class="rs_descripcion text-white py-5") Con nuestras notificaciones automáticas, ¡nunca volverás a perder una cita! recibirás un recordatorio para que puedas planear con tiempo tu visita a tu establecimiento preferido. Si no te es posible atender a la hora y/o el día que habías reservado, no te preocupes, re-agenda tu cita. Si vas a poder atender, reconfirmala y ve, te estarán esperando.
              div(class="lg:w-1/2 xl:w-1/2")
                div(class="text-center px-5")
                  img(class="block m-auto")(src="./public/img/body-home/Group_65.png", alt="" class="images")              
      section(id="section6")
        div(class="banner_6")
          div(class="container m-auto")
            div(class="flex flex-wrap order-1 lg:order-2")
              div(class="lg:w-1/2 xl:w-1/2  order-2 lg:order-1")
                div(class=" px-5 py-6 lg:py-0 lg:pl-32 lg:pr-20 lg:mt-40 text-center lg:text-justify")
                  p(class="uppercase gray font-bold lsp6 ") comercios
                  p(class="rs text-black font-bold lh1 ") No vuelvas a <br> perder tu cita
                  p(class="rs_descripcion text-black py-5") Con nuestras notificaciones automáticas, ¡nunca volverás a perder una cita! recibirás un recordatorio para que puedas planear con tiempo tu visita a tu establecimiento preferido. Si no te es posible atender a la hora y/o el día que habías reservado, no te preocupes, re-agenda tu cita. Si vas a poder atender, reconfirmala y ve, te estarán esperando.
              div(class="lg:w-1/2 xl:w-1/2 order-1 lg:order-2")
                div(class="text-center")
                  img(class="h-auto lg:h-128 w-128")(src="./public/img/body-home/rectag.png", alt="")         
      section(id="section7")
          div(class="container m-auto py-10 px-5")
            div(class="text-center fq blue ") faq's
              p(class="fq_description") Guía general de uso de la aplicación y preguntas frecuentes
            div(class="container m-auto py-6")
              div(class="lg:px-32 px-5")
                p(class="fq_description1" ) <span>-</span> ¿Qué es ComerceApp?  
                p(class="fq_description2") En ComerceApp somos una empresa dedicada a proporcionar una solución en cuanto al flujo de información entre tus clientes y tu establecimiento. 
            div  
      section(id="section8")  
          div(class="banner_8")  
            div(class="container m-auto py-10 ")
              div(class=" contact") 
                p(class="text-center") Contáctanos
                  div(class="container py-8 lg:px-24 px-5")
                    div(class="sub-banner8")
                      div(class="fmComerce px-5 lg:px-20 py-10")
                        form(action="" method="" id="form_comerceapp")
                          div(class="flex flex-wrap justify-between")
                            div(class="lg:w-1/2 -mx-6")
                              div(class="lg:py-6 px-6")
                                label(for="" class="blue font-bold px-5 ") Nombre <br>
                                input(type="text" placeholder="Cameron Rogers" class="in px-5" id="nombre")
                              div(class="py-6 px-6" )
                                label(for="" class="blue font-bold px-5") Email <br>
                                input(type="email" placeholder="sheila.legros@hotmail.com" class="in" id="email")  
                            div(class="lg:w-1/2 -mx-6")
                              div(class="py-6 px-6")
                                label(for="" class="blue font-bold px-5") Mensaje <br>
                                input(type="text" placeholder="Escribe tu consulta..." class="in" id="mensaje")
                              div(class="py-10 px-6")
                                input(type="submit"  class="bton" id="enviar" value="Enviar Mensaje ")
    footer
      div(class="container m-auto")
        div(class="lg:mx-24 px-5 py-6")
          div(class="flex justify-between")
            div(class="flex items-center")
              img(src="./public/img/footer/Group_2.1.png", alt="")
              p(class="uppercase text-white lsp6 pt-3 mx-3 comerce" ) comerce
            div(class="flex items-center")
              div(class="mx-5")
                a(href="")(class="text-white")
                  i(class="fs20 fab fa-facebook-f")
              div(class="mx-5")    
                a(href="")(class="text-white")
                  i(class="fs20 fab fa-instagram")  
              div(class="mx-5")    
                a(href="")(class="text-white")
                  i(class="fs20 fab fa-twitter")
          div(class="flex justify-between")
            div(class="flex items-center")
              p(class="text-white pt-3 mx-3" ) © 
                span(class="gray fs") Comerce. Todos los derechos reservados, 2019
            div(class="flex items-center terminos")
              div(class="mx-5")
                p(class="gray fs16 ") Terminos y Condiciones   |   Políticas Privacidad
  script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
  script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="./public/js/main.js")

                


